/*
	Main Color: #d8660a
*/

html,body { font-family:"Lato"; }


/* Announcement Carousels */
.announcement { background:#ff9900; color:#000; padding:12px 0; font-size:12px; text-transform:uppercase; }

/* Navbar */
.navbar { margin-bottom:0; }
.navbar-je {
  background-color: #fff;
  border-color: #d0d0d0;
}
.navbar-je .navbar-brand {
  color: #777;
}
.navbar-je .navbar-brand:hover,
.navbar-je .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-je .navbar-text {
  color: #777;
}
.navbar-je .navbar-nav > li > a {
  color: #777;
  transition:all ease-in-out 0.195s;
}
.navbar-je .navbar-nav > li > a:hover,
.navbar-je .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom:2px solid #ff9900;
}
.navbar-je .navbar-nav > .active > a,
.navbar-je .navbar-nav > .active > a:hover,
.navbar-je .navbar-nav > .active > a:focus {
  color: #555;
  background-color: transparent;
  border-bottom:2px solid #ff9900;
}
.navbar-je .navbar-nav > .disabled > a,
.navbar-je .navbar-nav > .disabled > a:hover,
.navbar-je .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-je .navbar-toggle {
  border-color: #ddd;
}
.navbar-je .navbar-toggle:hover,
.navbar-je .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-je .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-je .navbar-collapse,
.navbar-je .navbar-form {
  border-color: #e7e7e7;
}
.navbar-je .navbar-nav > .open > a,
.navbar-je .navbar-nav > .open > a:hover,
.navbar-je .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-je .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-je .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-je .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-je .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-je .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-je .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-je .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-je .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-je .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-je .navbar-link {
  color: #777;
}
.navbar-je .navbar-link:hover {
  color: #333;
}

/* Navbar - Dropdown */
.dropdown-menu > li > a {
  display: block;
  padding: 6px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #ff9900;
  outline: 0;
}

/* Search Bar Related */
.search-bar { background:#e0e0e0; padding:35px 0; }
.search-bar label { color:#626262; text-shadow:1px 1px 1px #f0f0f0; }

/* Buttons */
.btn-unique {
  color: #444;
  background: transparent;
  border:2px solid #777;
}
.btn-unique:hover,
.btn-unique:focus,
.btn-unique:active,
.btn-unique.active,
.open .dropdown-toggle.btn-unique {
  color: #ff9900;
  background: transparent;
  border-color: #ff9900;
  transition:all ease-in-out 0.3s;
}
.btn-unique:active,
.btn-unique.active,
.open .dropdown-toggle.btn-unique {
  background-image: none;
}
.btn-unique.disabled,
.btn-unique[disabled],
fieldset[disabled] .btn-unique,
.btn-unique.disabled:hover,
.btn-unique[disabled]:hover,
fieldset[disabled] .btn-unique:hover,
.btn-unique.disabled:focus,
.btn-unique[disabled]:focus,
fieldset[disabled] .btn-unique:focus,
.btn-unique.disabled:active,
.btn-unique[disabled]:active,
fieldset[disabled] .btn-unique:active,
.btn-unique.disabled.active,
.btn-unique[disabled].active,
fieldset[disabled] .btn-unique.active {
  background-color: transparent;
  border-color: #898989;
}
.btn-unique .badge {
  color: #428bca;
  background: transparent;
}


.btn-main {
  color: #fff;
  background: #ff9900;
  border:2px solid #ff9900;
}
.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
  color: #ff9900;
  background: #fff;
  border-color: #ff9900;
  transition:all ease-in-out 0.3s;
}
.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
  background-image: none;
}
.btn-main.disabled,
.btn-main[disabled],
fieldset[disabled] .btn-main,
.btn-main.disabled:hover,
.btn-main[disabled]:hover,
fieldset[disabled] .btn-main:hover,
.btn-main.disabled:focus,
.btn-main[disabled]:focus,
fieldset[disabled] .btn-main:focus,
.btn-main.disabled:active,
.btn-main[disabled]:active,
fieldset[disabled] .btn-main:active,
.btn-main.disabled.active,
.btn-main[disabled].active,
fieldset[disabled] .btn-main.active {
  background-color: #ffc062;
  border-color: #ff9900;
}
.btn-main .badge {
  color: #428bca;
  background: transparent;
}


/* Typography */
p { text-align:justify; }
.main-header { margin:30px 0; font-weight:300; text-align:center; color:#888; text-transform:uppercase; }
.separator,
.main-header:after { margin-top:25px; content:" "; background:url('../images/bg-gray-tile.png'); display:block; width:100%; height:5px; }
.main-header small { color:#ff9900; font-weight:300; }
.after-header-msg { text-align:center; margin-bottom:20px; color:#464646; }

/* Listing */
.listing { border:1px solid #bfbfbf; margin-top:10px; transition:all ease-in-out 0.195s; }
.listing:hover { border:1px solid #999; box-shadow:0 0 10px #999; margin-top:4px; }
.listing:hover a { padding:15px; }
.listing-content { padding:13px; border-top:1px solid #bfbfbf; }
.listing-price { padding:13px; border-top:1px solid #bfbfbf; text-align:center; }
.listing-price span { font-size:23px; }
.listing-price span.sale { font-size:23px; color:red; }
.listing-price span.sold { font-size:23px; color:green; }
.listing-price span.crossed { font-size:13px; text-decoration:line-through; color:#aaa; }
.listing-action { border-top:1px solid #bfbfbf; text-align:center; }
.listing-action a { display:block; padding:13px; color:#fff; background:#ff9900; text-transform:uppercase; border-top:1px solid rgba(255,255,255,0.4); transition:all ease-in-out 0.195s; }
.listing-action a:hover { text-decoration:none; color:#ff9900; background:#fff; }

/* Horizontal Listing */
.h-listing { border:1px solid #cdcdcd; padding:0; transition:all ease-in-out 0.195s; margin:25px 0; }
.h-listing:hover { border:1px solid #999; box-shadow:0 0 10px #999; }

.h-listing-title { background:#f0f0f0; color:#333; padding:12px 15px; }
.featured .h-listing-title { background:#ff9900; color:#fff; }
.h-listing-title h4 { padding:0; margin:0; }
.h-listing-title i { margin-right:10px; }

.h-listing-title h4 a { color:#333 }
.featured .h-listing-title h4 a { color:#ffffff; }


.h-listing-content { }

.h-listing-attr { padding:10px 10px 0 0; }
.h-listing-desc { padding:0 10px 0 0; }
.h-listing-action { padding:0px 10px 10px 0;}

@media (max-width: 767px) {
	.h-listing-attr,
	.h-listing-action,
	.h-listing-desc { padding:10px; }
}
.h-listing-img { padding:10px; }
.h-listing-price { padding:5px 10px 10px; text-align:center; }
.h-listing-price span { font-size:23px; }
.h-listing-price span.sale { font-size:23px; color:red; }
.h-listing-price span.sold { font-size:23px; color:green; }
.h-listing-price span.crossed { font-size:13px; text-decoration:line-through; color:#aaa; }

.h-listing-attr .attr { display:inline-block; margin:0 7px 0 0; padding:0 10px 0 0; border-right:1px dashed #ccc; }
@media (max-width: 767px) {
	.h-listing-attr .attr { padding:7px 10px; margin:3px; border:1px solid #ddd; }
}

/* Features */
.feature { padding-top:6px; padding-bottom:0px; transition:all ease-in-out 0.195s; }
.feature:hover { padding-top:0px; padding-bottom:6px; }
.feature:hover .feature-img span { color:#ff9900; }
.feature-img { text-align:center; }
.feature-img span.glyphicon { font-size:85px; transition:all ease-in-out 0.195s; }
.feature-content { text-align:center; }

/* Social Media */
.social {
	padding:7px; width:50px; height:50px; display:inline-block; text-align:center; font-size:25px;
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	-o-transition: all ease 0.4s;
	-ms-transition: all ease 0.4s;
	transition: all ease 0.4s;
	background:#707070; color:#fff;
	margin:5px; 
}
.social:hover {
 	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
}

.social-blogger:hover { background:#fe7c00; color:#fff; }
.social-digg:hover { background:#464646; color:#fff; }
.social-email:hover { background:#c02300; color:#fff; }
.social-fb:hover { background:#4b6ea8; color:#fff; }
.social-google:hover { background:#dc543a; color:#fff; }
.social-instagram:hover { background:#303030; color:#fff; }
.social-linkedin:hover { background:#0b86cc; color:#fff; }
.social-pinterest:hover { background:#d83633; color:#fff; }
.social-rss:hover { background:#fb9d00; color:#fff; }
.social-skype:hover { background:#06c1f6; color:#fff; }
.social-tumblr:hover { background:#345367; color:#fff; }
.social-twitter:hover { background:#4fd5f8; color:#fff; }
.social-viemo:hover { background:#85268c; color:#fff; }
.social-yahoo:hover { background:#96d3f0; color:#fff; }
.social-youtube:hover { background:#d84939; color:#fff; }

/* Footer */
.footer { background:#505050; color:#dedede; padding:45px 0; }
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 { color:#fff; }

/* Copyright */
.copyright { background:#242424; color:#aaa; padding:30px 0; text-align:center; text-shadow:1px 1px 2px #000; text-transform:uppercase; }

/* Pagination */
.pagination > li > a,
.pagination > li > span {
  color: #ff9900;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #fff;
  background-color: #ff9900;
  border-color: #ff9900;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #fff;
  background-color: #ff9900;
  border-color: #ff9900;
}

/*
	Quote Carousel
	By: http://bootsnipp.com/snippets/featured/responsive-quote-carousel
*/
/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

/* Thumbnail Carousel */
#thumbnail-carousel 
{
  padding: 0 10px 20px 10px;
  margin-top: 30px 0px 0px;
}

#thumbnail-carousel .carousel-control
{
	background: none;
	color: #222;
	font-size: 2.3em;
	text-shadow: none;
}

/* Previous button  */
#thumbnail-carousel .carousel-control.left 
{
  left: -45px;
}
/* Next button  */
#thumbnail-carousel .carousel-control.right 
{
  right: -45px !important;
}
/* Changes the position of the indicators */
#thumbnail-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}

/* Changes the color of the indicators */
#thumbnail-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#thumbnail-carousel .carousel-indicators .active 
{
  background: #333333;
}

#thumbnail-carousel .item
{
	padding:0 40px;
}

/* End of Thumbnail Carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

/* Util */
.big-margin { margin-top:80px; margin-bottom:80px;}
.med-margin { margin-top:50px; margin-bottom:50px;}
.sml-margin { margin-top:20px; margin-bottom:20px;}